<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">
                    Menu
                </span>
            {{ end }}

            {{- if .Site.Params.EnableThemeToggle }}
                <span class="theme-toggle not-selectable">{{ partial "theme-toggle-icon.html" . }}</span>
            {{- end}}
        </span>
    </span>
</header>
